<div class="container-fluid">
  <form [formGroup]="customerForm">
    <div class="row">
      <div class="col-12">
        <h4>Customer</h4>
      </div>
      <div class="row col-6">
        <div class="col-8">
          <input type="text" class="form-control" formControlName="id" placeholder="Id">
        </div>
        <div *ngIf="customerForm.controls['id'].errors.test" class="col-4 text-danger">
            dcdgdf
        </div>
      </div>
      <div class="row col-6">
        <div class="col-8">
          <input type="text" class="form-control" formControlName="name" placeholder="Name">
        </div>
        <div class="col-4">
          error
        </div>
      </div>
      <div class="row col-6">
        <div class="col-8">
          <input type="text" class="form-control" formControlName="lastname" placeholder="Last name">
        </div>
        <div class="col-4">
          error
        </div>
      </div>
      <div class="row col-6">
        <div class="col-2">
          <label>Gender</label>
        </div>
        <div formGroupName="gender" class="col-2" *ngFor="let g of genderLabel">
          <label class="checkbox-inline">
            <input type="checkbox" formControlName={{g}}>   {{g}}
          </label>
        </div>
        <div class="col-4">
          {{customerForm.controls['gender'].errors?.gendererror}}
        </div>
      </div>
      <div class="row col-6">
        <div class="col-3">Birth Date</div>
        <div class="col-5">
          <input type="date" class="form-control" formControlName="dob">
        </div>
        <div class="col-4">
          error
        </div>
      </div>
    </div>
  </form>
</div>
